// color variables
$Background-color: hsl(0, 0, 100);
$Emerald: hsl(158, 61, 49);
$Space-cadet: hsl(223, 26, 24);
$Cool-gray: hsl(223, 8, 62);
$Gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 100%);

// Image
$bg-intro-desktop: "../assets/bg-intro-desktop.svg";
$bg-intro-mobile: "../assets/bg-intro-mobile.svg";